<!--<div class="text-center p-5">
      <h2>ABOUT ME</h2>
      <p>For Any Questions or Collaborations, Contact us with Your Details Below:</p>
</div> -->
<div class="row space">
<div class="col-md-4 about">
<%= image_tag("Photoroom-20240526_213830.png") %>
</div>
<div class="col-md-8 about text ml-5 p-3">
<p class="mb-5">I am Oniye Abdullahi Masud, a dynamic professional with a rich blend of technical expertise and creative flair. With a proven track record in graphic design, video creation, front-end development, and back-end development, I bring a comprehensive approach to solving problems and delivering results. My work is rooted in the principles of innovation, user-centric design, and technical precision, ensuring that each project I undertake is both impactful and meaningful.</p>
<p class="mb-5">I am Oniye Abdullahi Masud, a dynamic professional with a rich blend of technical expertise and creative flair. With a proven track record in graphic design, video creation, front-end development, and back-end development, I bring a comprehensive approach to solving problems and delivering results. My work is rooted in the principles of innovation, user-centric design, and technical precision, ensuring that each project I undertake is both impactful and meaningful.</p>
<p class="mb-5">I am Oniye Abdullahi Masud, a dynamic professional with a rich blend of technical expertise and creative flair. With a proven track record in graphic design, video creation, front-end development, and back-end development, I bring a comprehensive approach to solving problems and delivering results. My work is rooted in the principles of innovation, user-centric design, and technical precision, ensuring that each project I undertake is both impactful and meaningful.</p>

</div>


