<div class="text-center mb-5">
<div class="mx-auto d-block image-home">
<%= image_tag("Photoroom-20240526_213830.png") %>
</div>
<p class="mb-5">I am Oniye Abdullahi Masud, a dynamic professional with a rich blend of technical expertise and creative flair. With a proven track record in graphic design, video creation, front-end development, and back-end development, I bring a comprehensive approach to solving problems and delivering results. My work is rooted in the principles of innovation, user-centric design, and technical precision, ensuring that each project I undertake is both impactful and meaningful.</p>
<button type="button" class="about-button p-2 text-white"><a class="p-3" href="mailto:oniyeabdullahi00@gmail.com">Hire Me</a></button>  <button type="button" class="about-button  p-2 text-white"><a class="p-3" href="mailto:oniyeabdullahi00@gmail.com">Contact Me<a/></button>
</div>